/* Main */

//Widths
/* Done Resolutions: 480, 768, 1024, 1024 portrait, 1280, 1920, 2560*/
/* Resolutions on the works: 3840 */
/* Missing resolutions: 1366, 1600, 3440 */

//Import
@import 'extras/variables';
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap");


//Styling



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;



        .background{
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-image: url('../photos/Paper\ Background.PNG');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: $t2; /* Used if the image is unavailable */
        }

        
        nav{
            position: fixed;
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: center;
            z-index: 2;
            //background-color: $t1;
            height: 8%;
            ul{
                list-style: none;
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                li:not(:last-child) { 
                    display: none;
                }
                li {
                    position: relative;
                    width: 20vw;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .hamburger-btn{
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    //background-color: $t3;
                    background: transparent;
                    transition: all .5s ease-in-out;
                    border: none;

                        .hamburger-transition{
                            background-color: black;
                            width: 30px;
                            height: 3px;
                            border-radius: 5px;
                            transition: all .5s ease-in-out;

                        }

                        .hamburger-transition::before, .hamburger-transition::after{
                            content: '';
                            position: absolute;
                            display: block;
                            background-color: black;
                            width: 30px;
                            height: 3px;
                            border-radius: 5px;
                            transition: all .5s ease-in-out;
                        }

                        .hamburger-transition::before{
                            transform: translateY(-10px);
                        }

                        .hamburger-transition::after{
                            transform: translateY(10px);
                        }
                    }
                    //Burger Menu Animation
                    .hamburger-btn.open .hamburger-transition{
                        transform: translate(-50px);
                        background: transparent;
                    }

                    .hamburger-btn.open .hamburger-transition::before{
                        background-color: white;
                        transform: rotate(45deg) translate(35px, -35px);
                    }

                    .hamburger-btn.open .hamburger-transition::after{
                        background-color: white;
                        transform: rotate(-45deg) translate(35px, 35px);
                    }
                }
            }

        }

        .mobile-nav{
            position: fixed;
            display: flex;
            width: 50%;
            height: 100vh;
            justify-content: center;
            align-items:center;
            z-index: 1;
            background-color: rgba($color: #000000, $alpha: 1);
            transition: .3s ease-in-out;

            ul{
                display: flex;
                width: 100%;
                height: 80%;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                list-style: none;

                li{
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 2em;
                    }

                    a:hover{
                        font-family: "Permanent Marker", cursive;
                        color: red;
                    }
                }

            }

        }

        .hidden{
            //display: none;
            transform: translateX(-100%);
        }

        .content{
            scroll-snap-type: y proximity;
            overflow-y: scroll;
            height: 100vh;

            header{
                position: relative;
                display: grid;
                //display: none;
                min-height: 100vh;
                scroll-snap-align: start;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 40% 60%;
                gap: 0px;

                .title{
                    grid-row: 1;
                    grid-column: 1/3;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    //background-color: $t1;
                    width: 100vw;
                    height: 40vh;
                    h1{
                        font-size: 15vw;
                        text-align: center;
                        margin-bottom: 15px;
                        margin-top: 80px;
                        a{
                            text-decoration: none;
                            color: black;
                        }
                        a:hover {
                            font-family: "Permanent Marker", cursive;
                            color: red;
                            cursor: pointer;
                          }
                    }
                    h6{
                        font-size: 5vw;
                        text-align: center;
                    }
                }
                aside{
                    height: 60vh;
                    //background-color: $t3;
                    width: 100vw;
                    grid-row: 2;
                    grid-column: 1/3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .background-photo{
                        position: absolute;
                        width: 80vw;
                        height: 80vw;
                        border-radius: 40vw;
                        background-image: url('../photos/mehalf.png');
                        background-position-x: center;
                        background-position-y: center;
                        background-size: cover;
                        box-shadow: 10px 10px 5px rgba($color: #000000, $alpha: .3);
                        //top: 900px;

                    }
                    .presentation-slider {
                        width: 80vw;
                        height: 120vw;
                        overflow: hidden;
                        position: absolute;
                        //top: 900px;
                        border-radius: 40vw;
                        cursor: pointer;
                        .slides {
                            //width: 500%;
                            display: flex;
                            height: 100vh;
                            transition: 2s;
                            .slide {
                                width: 20%;
                                img {
                                    width: 80vw;
                                    height: 120vw;
                                    object-fit: cover; 
                                    //border-radius: 40vw;
                                    

                                                                       
                                }
                            }
                        }
                    }
                }        

                .scroll-down-animation{
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    transform: translate(-50%, -50%) rotate(45deg);
                    bottom: 30px;
                    left: 50%;
                    border: 2px solid black;
                    border-top: transparent;
                    border-left: transparent;
                    animation: scroll-down 2s ease-in-out infinite;
                }

                @keyframes scroll-down {
                    0%{
                        bottom: 30px;
                    }
                    50%{
                        bottom: 10px;
                    }
                    100%{bottom: 30px;}
                }
            }
            section{
                position: relative;
                display: flex;
                min-height: 100vh;
                justify-content: center;
                align-items: center;
                scroll-snap-align: start;
    
            }
    
            .about{
                //background-color: $t2;
                display: flex;
                //display: none;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                h2{
                    font-size: 10vw;
                    margin: 10px;
                }
                p{
                    width: 80vw;
                    text-align: justify;
                    font-size: 25px;
                    
                    .important{
                        font-size: 25px;
                        font-family: "Permanent Marker", cursive;
                        color: red;
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
            }
    
            .resume{
                //background-color: $t3;
                display: grid;
                //display: none;
                grid-template-columns: 20vw auto;
                grid-template-rows: 15vh auto;
                //gap: 10px;
                align-items: start;
                
                .resumeHeader{
                    grid-row: 1;
                    grid-column: 1/3;
                    //background-color: $t1;
                    text-align: center;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    h2{
                        font-size: 10vw;
                        margin: 10px;
                    }
                    .resume-selector{
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        width: 90vw;
                        justify-content: space-around;
                        padding-bottom: 5px;
                        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);


                        button{
                            background: transparent;
                            border: none;
                            font-size: 16px;
                            margin-bottom: 0px;
                            cursor: pointer;
    
                        }
                        .resume-underline-div{
                            //background-color: $t1;
                            width: 100%;
                            height: 10px;
                            position: relative;
                            //display: block;
                            margin-left: -8vw;
                            .resume-underline{
                                position: relative;
                                display: block;
                                height: 4px;
                                background-color: $red;
                                border-radius: 4px;
                                transition: .5s;
                            }
                        }
    
                    }

                }

                .resume-btn-area{
                    grid-row: 2;
                    grid-column: 1;
                    display: flex;
                    flex-direction: column;
                    //background-color: $t1;
                    height: 70vh;
                    
                    justify-content: space-evenly;
                    margin-top: 20px;
                    button{
                        cursor: pointer;
                        background: none;
                        border: none;
                        margin: 2vh 0;
                        i{
                            color: #000000;
                            font-size: 20px;

                        }
                    }
                }

                .resume-sections{
                    grid-row: 2;
                    grid-column: 2;
                    //border: 2px solid black;
                    //background-color: $t1;
                    margin-right: 5vw;
                    height: 70vh;

                    div{
                        display: none;
                    }

                    .resume-spotlight{
                        display: flex;
                        //border: 2px solid black;
                        flex-direction: column;
                        justify-content: start;
                        align-items: left;
                        height: 100%;
                        margin-top: 20px;
                        overflow-y: scroll;
                        animation: appear 1s ease-in-out;
                        @keyframes appear {
                            0%{
                                opacity: 0;
                            }

                            
                            100%{opacity: 1;}
                        }
                        h3{
                            font-size: 30px;
                            margin: 2vh 0;
                            margin-bottom: 1vh;
                            text-align: center;
                        }
                        p{
                            margin: 10px;
                            font-size: 16px;
                            text-align:left;
                            padding-bottom: 5px;
                            border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
                            .bold{
                                font-weight: bold;
                                //color: red;
                                
                                
                            }
                            .extras{
                                font-size: 12px;
                            }
                            .i-spotlight{
                                color: red;
                                font-size: 20px;
                            }


                        }
                        p:last-child {
                            border: none;
                          }
                        .skills-active{

                            display: flex;
                            //border: 2px solid black;
                            flex-direction: column;
                            justify-content: start;
                            align-items: left;
                            height: 100%;
                            margin-top: 20px;
                            overflow-y: scroll;
                            animation: appear 1s ease-in-out;
                            p{
                                margin: 10px;
                                font-size: 16px;
                                text-align:left;
                                padding-bottom: 5px;
                                border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
                                .bold{
                                    font-weight: bold;
                                    
                                    
                                }
                                .trans{
                                    opacity: 0;
                                }
                            }
                        }
                        //Div for online courses
                        .active-courses{
                            //background-color: $t1;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 70vh;
                            overflow: scroll;
                            overflow-x: hidden;
                        
                            .courses{
                                border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
                                //background-color: $t4;
                                display: block;
                                padding-right: 10px;
                                a{
                                    cursor: pointer;
                                    text-decoration: none;
                                    div{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        height: 15vh;
                                        background-position-x: center;
                                        background-position-y: center;
                                        background-size: cover;
                                        border: 2px solid black;
                                        margin-top: 10px;
                                        p{
                                            //background-color: black;
                                            color: white;
                                            z-index: 3;
                                        }
                                        svg{
                                            position: absolute;
                                            width: 100px;
                                            height: 100px;
                                            //background-color: $t5;
                                            circle{
                                                fill: rgba($color: #000000, $alpha: .5);
                                                stroke-width: 10;
                                                //stroke: red;
                                                //transform: translate(5px 5px);
                                                stroke-linecap: round;
                                                //z-index: 3;
                                                //stroke-dasharray: $num;
                                                //stroke-dashoffset: $num;
                                            }
                                            circle:nth-child(1){
                                                stroke-dashoffset: 0;
                                                stroke: #f3f3f3;
                                            }
                                            circle:nth-child(2){
                                                fill: none;
                                                //stroke-dashoffset: $num - ($num*75)/100;
                                                stroke: red;
                                            }
                                        }
                                    }
                                }
                                a:hover{
                                    filter: brightness(110%);
                                }

                                h4{
                                    font-size: bold;
                                    text-align: center;
                                    margin-top: 5px;
                                }
                                p{
                                    font-size: 16px;
                                    text-align: center;
                                    margin: 0;
                                    
                                }
                            }
                            .courses:last-child{
                                border-bottom: none;
                            }
                        }
                        .active-courses::-webkit-scrollbar {
                            width: 5px;
                            margin-left: 2px;
                        }
                        .active-courses::-webkit-scrollbar-track {
                            background-color: rgba($color: #000000, $alpha: .1);
                            border-radius: 8px;

                        }
                        .active-courses::-webkit-scrollbar-thumb {
                            background-color: rgba($color: red, $alpha: .5);
                            border-radius: 8px;

                        }
                        
                        
                    }

                }
            
            }
    
            .portfolio{
                //background-color: $t4;
                display: flex;
                //display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    font-size: 10vw;
                    margin: 10px;
                }
                .portfolio-selector{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    width: 90%;
                    justify-content: space-around;
                    padding-bottom: 10px;
                    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
                    button{
                        background: transparent;
                        border: none;
                        font-size: 16px;
                        margin-bottom: 0px;
                        cursor: pointer;

                    }
                    .portfolio-underline-div{
                        //background-color: $t1;
                        width: 100%;
                        height: 0px;
                        position: relative;
                        display: block;
                        left: 0;
                        margin-left: -10vw;
                        .portfolio-underline{
                            position: relative;
                            display: block;
                            height: 4px;
                            background-color: $red;
                            border-radius: 4px;
                            transition: .5s;
                        }
                    }

                }

                .video-portfolio{
                    //background-color: $t1;
                    //border: 2px solid black;
                    margin-top: 0;
                    background: transparent;
                    display: none;
                    min-height: 80vh;
                    width: 90vw;
                    opacity: 1;
                    animation: intro-portfolio 1s ease-in-out;  
                    overflow: hidden;

                    button{
                        position: absolute;
                        background: none;
                        border: none;
                        //border: 2px solid black;
                        padding: 5px;
                        cursor: pointer;
                        opacity: 1;
                        transition: all 2s ease-in-out;
                        i{
                            font-size: 5vw;
                        }
                    }
                    .videoLeftBtn{
                        transform: translate(-50%,-50%);
                        top: 55%;
                        left: 5%;
                    }
                    .videoRightBtn{
                        transform: translate(-50%,-50%);
                        top: 55%;
                        left: 95%;
                    }
                    .slider-position{
                        position: absolute;
                        display: none;
                    }
                    .video-container{
                        height: 100%;
                        transition: all 1s ease-in-out;
                        //background-color: $t1;
                        div{
                            //background-color: $t4;
                            height: 80vh;
                            display: inline-block;
                            justify-content: center;
                            align-items: center;
                            div{
                                display: flex;
                                width: 100%;
                                height: 100%;
                                flex-direction: column;
                                justify-content: start;
                                align-items: center;

                                h3{
                                    color: black;
                                    font-size: 30px;
                                    margin-bottom: 3vh;
                                    padding-top: 5vh;
                                    text-align: center;
                                    
                                }
                                iframe{
                                    width: 90%;
                                    //height: 360px;
                                    border: none;
                                }
                                h4{
                                    font-size: 16px;
                                    font-weight: bold;
                                    margin-top: 4vh;
                                }
                                p{
                                    margin: 0 10vw;
                                    margin-top: 5px;
                                    text-align: justify;
                                    font-size: 16px;
                                }
                                h5{
                                    font-size: 16px;
                                    font-weight: bold;
                                    margin-top: 4vh;
                                }
                            }

                        }
                    }
                    
                }
                .web-portfolio{
                    display: none;
                    //background-color: $t2;
                    margin-top: 10px;
                    border: 2px solid rgba($color: #000000, $alpha: 0.1);
                    background: transparent;
                    min-height: 80vh;
                    width: 90vw;
                    opacity: 1;
                    animation: intro-portfolio 1s ease-in-out;   
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 25px;
                        margin: 5vw;
                        text-align: justify;
                        i{
                            color: $red;
                        }
                        button{
                            color: $red;
                            border: none;
                            background: transparent;
                            font-size: 25px;

                        }
                        button:hover{
                            font-family: "Permanent Marker", cursive;
                        }
                    }
                }
                .data-portfolio{
                    display: none;
                    margin-top: 10px;
                    border: 2px solid rgba($color: #000000, $alpha: 0.1);
                    background: transparent;
                    //background-color: $t3;
                    min-height: 80vh;
                    width: 90vw;
                    opacity: 1;
                    animation: intro-portfolio 1s ease-in-out;
                    justify-content: center;
                    align-items: center;  
                    p{
                        font-size: 25px;
                        margin: 5vw;
                        text-align: justify;
                        i{
                            color: $red;
                        }
                        button{
                            color: $red;
                            border: none;
                            background: transparent;
                            font-size: 25px;

                        }
                        button:hover{
                            font-family: "Permanent Marker", cursive;
                        }
                    }                 
                }

                @keyframes intro-portfolio {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }

            }
    
            .contact{
                //background-color: $t5;
                .mail-container{
            
                    //background-color: $t5;
                    text-align: center;
                    h2{
                        font-size: 10vw;
                        margin: 10px;
                    }
                

                    form{
                        //background-color: white;
                        display: flex;
                        flex-direction: column;
                        padding: 2vw 4vw;
                        max-width: 600px;
                        //border-radius: 10px;
                        //border: 2px solid black;
                        margin-bottom: 10vh;

                        input, textarea{
                            border: 2px solid black;
                            margin: 10px 0;
                            padding: 20px;
                            outline: none;
                            //background: #f5f5f5;
                            font-size: 16px;
                            background: transparent;
                        }

                        button{
                             padding: 15px;
                             background: $red;
                             color: white;
                             font-size: 18px;
                             border: 0;
                             outline: none;
                             cursor: pointer;
                             width: 150px;
                             margin: 20px auto 0;
                             //border-radius: 30px;
                        }
                    }
                }

                footer{
                    position: absolute;
                    //background-color: $t1;
                    display: flex;
                    bottom: 0;
                    flex-direction: column;
                    padding: 2vh 6vw;
                    border-top: 2px solid rgba($color: #000000, $alpha: 0.1);
                    width: 85%;
                    .social-media{
                        position: relative;
                        display: flex;
                        justify-content: space-around;
                        padding-bottom: 2vh;
                        a{
                            text-decoration: none;
                            cursor: pointer;
                            i{
                                color: #000000;
                                font-size: 20px;
                            }
                        }
                    }
                    .footer-text{
                        position: relative;
                        p{
                            font-size: 20px;
                            text-align: center
                        }
                    }


                }
            }

        }

    }
}


//Responsive

@import 'responsive/minWidth480';
@import 'responsive/minWidth768';
@import 'responsive/minWidth1024';
@import 'responsive/minWidth1024AndPortrait';
@import 'responsive/minWidth1280';
@import 'responsive/minWidth1920';
@import 'responsive/minWidth2560';
@import 'responsive/minWidth3840';
