/* Main */

//Import
@import 'extras/variables';

//Styling

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        box-sizing: border-box;



        .background{
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-image: url('../photos/Paper\ Background.PNG');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: $t2; /* Used if the image is unavailable */
        }

        
        nav{
            position: fixed;
            display: flex;
            width: 100vw;
            justify-content: start;
            align-items: center;
            z-index: 2;
            background-color: $t1;
            height: 5%;
            ul{
                list-style: none;
                li:not(:last-child) { 
                    display: none;
                }
                li button{
                    margin-left: 10px;
                }
            }

        }

        .mobile-nav{
            position: fixed;
            display: flex;
            width: 50%;
            height: 100vh;
            background-color: gray;
            justify-content: center;
            align-items:center;
            z-index: 1;

            ul{
                display: flex;
                width: 100%;
                height: 80%;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                list-style: none;

            }

        }

        .hidden{
            display: none;
        }

        .content{
            scroll-snap-type: y proximity;
            overflow-y: scroll;
            height: 100vh;

            header{
                position: relative;
                display: flex;
                height: 100vh;
                justify-content: center;
                align-items: center;
                scroll-snap-align: start;
            }
            section{
                position: relative;
                display: flex;
                height: 100vh;
                justify-content: center;
                align-items: center;
                scroll-snap-align: start;
    
            }
    
            .about{
                background-color: $t2;
            }
    
            .resume{
                background-color: $t3;
            }
    
            .portfolio{
                background-color: $t4;
            }
    
            .contact{
                background-color: $t5;
            }

        }

    }
}

//Responsive

@import 'responsive/bigmenu';
