/* Main */
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* body .background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../photos/Paper Background.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FEEFE5;
  /* Used if the image is unavailable */
}

* body nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  height: 8%;
}

* body nav ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

* body nav ul li:not(:last-child) {
  display: none;
}

* body nav ul li {
  position: relative;
  width: 20vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body nav ul li .hamburger-btn {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: none;
}

* body nav ul li .hamburger-btn .hamburger-transition {
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

* body nav ul li .hamburger-btn .hamburger-transition::before, * body nav ul li .hamburger-btn .hamburger-transition::after {
  content: '';
  position: absolute;
  display: block;
  background-color: black;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

* body nav ul li .hamburger-btn .hamburger-transition::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

* body nav ul li .hamburger-btn .hamburger-transition::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

* body nav ul li .hamburger-btn.open .hamburger-transition {
  -webkit-transform: translate(-50px);
          transform: translate(-50px);
  background: transparent;
}

* body nav ul li .hamburger-btn.open .hamburger-transition::before {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

* body nav ul li .hamburger-btn.open .hamburger-transition::after {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

* body .mobile-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: black;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

* body .mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

* body .mobile-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

* body .mobile-nav ul li a:hover {
  font-family: "Permanent Marker", cursive;
  color: red;
}

* body .hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

* body .content {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

* body .content header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

* body .content section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

* body .content .about {
  background-color: #FEEFE5;
}

* body .content .resume {
  background-color: #FFCF00;
}

* body .content .portfolio {
  background-color: #EE6123;
}

* body .content .contact {
  background-color: #FA003F;
}

/* Big Menu */
@media (min-width: 600px) {
  * body nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 5%;
  }
  * body nav ul {
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  * body nav ul li:not(:last-child) {
    display: inline-block;
  }
  * body nav ul li:last-child {
    display: none;
  }
  * body nav ul li {
    width: 15%;
  }
  * body nav ul li a {
    text-decoration: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    font-size: 2vw;
  }
  * body nav ul li a:hover {
    font-family: "Permanent Marker", cursive;
    color: red;
  }
}
/*# sourceMappingURL=main.css.map */