@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
/*This is for the whole project*/
body {
  background-image: url("../photos/Smooth\ Notebook\ Paper-min.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Roboto", sans-serif;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*This is for the navigation menu*/
header {
  position: relative;
  display: block;
  z-index: 1;
}

nav {
  display: inline-flex;
  justify-content: flex-start;
  width: 90%;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-left: 6vw;
}

ul,
ol {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  padding: 10px 15px;
  margin: 1.4vw;
  display: inline-block;
  color: black;
  font-size: 1.3vw;
}

.nav > li a:hover {
  font-family: "Permanent Marker", cursive;
  color: red;
  font-size: 1.8vw;
}
.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  padding: 0;
  margin: 0;
}

.nav li ul li a {
  margin: 5px;
}

.nav li:hover > ul {
  display: block;
}

sub {
  font-size: 0.8vw;
}

/*This is the Main part*/

main {
  position: absolute;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}

.miguel:hover {
  font-family: "Permanent Marker", cursive;
  color: red;
}

h6 {
  font-size: 1.3vw;
  padding-top: 15px;
  padding-left: 3px;
}

/*This is for the slider*/

.slider {
  width: 20vw;
  box-shadow: 10px 10px 5px rgb(127, 127, 127);
  overflow: hidden;
  background-image: url("../photos/mehalf.png");

  background-size: 100% 100%;
}

.slides {
  width: 500%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 20vw;
}

.navigation-manual {
  position: absolute;
  width: 20vw;
  margin-top: 1.25vw;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: black;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 20vw;
  justify-content: center;
  margin-top: 37vw;
}

.navigation-auto div {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: black;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: black;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: black;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: black;
}

/*Footer*/

footer {
  margin-top: auto;
  align-self: center;

  position: relative;
  display: inline-flex;
  width: 80%;
  justify-content: space-between;
  border: none;
  border-top: 1px solid black;
}

footer p {
  margin: 30px;
  font-size: 1vw;
}

footer p a {
  color: black;
  text-decoration: none;
  font-size: 1vw;
}

footer p a:hover {
  color: red;
}

/*About*/

.about {
  margin: 10vw;
  padding: 10vw;
}

.about h1,
.about h6 {
  padding: 2vw;
}

.about h6 {
  font-size: larger;
  text-indent: 40px;
  line-height: 5vh;
}

.important {
  font-size: 1.4em;
  font-family: "Permanent Marker", cursive;
  color: red;
  padding-left: 7px;
  padding-right: 7px;
}

/*Under Contruction*/

.marker {
  font-family: "Permanent Marker", cursive;
}
.uc {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
.uc h1,
.uc h6 {
  padding: 2vw;
  display: block;
}

.uc h6 {
  font-size: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 8vh;
  padding-bottom: 8vh;
  text-indent: 40px;
  line-height: 5vh;
}

.todo {
  position: absolute;
  display: block;
  top: 55vh;
  left: -5vw;
  transform: rotate(-20deg);
}

.todo ul li {
  color: red;
  opacity: 0.35;
  font-family: "Permanent Marker", cursive;
  font-size: 5vw;
  margin: -2vw;
  text-align: center;
}

.overline {
  text-decoration: line-through;
}

.tab {
  margin-left: 40px;
}

.sec {
  position: absolute;
  display: block;
  top: 10vh;
  left: 80vw;
  transform: rotate(10deg);
}

.sec ul li {
  font-size: 3vw;
  margin: -2vw;
}

/*Contact*/

.contact {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}
.contact h1 {
  padding: 2vw;
}

.contact ul li {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
